* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 18px;
}
header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/bg-header-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-box {
  position: absolute;
  top: 20%;
}
.heading-sub {
  color: hsl(201, 11%, 66%);
  width: 75%;
  text-align: center;
}
.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.box-content img {
  width: 128px;
}
.btn-box {
  margin-top: 32px;
}
.btn-right {
  margin-right: 24px;
  background-color: hsl(171, 66%, 44%);
}
.btn-left {
  background-color: hsl(233, 100%, 69%);
}
.btn {
  text-decoration: none;
  color: #fff;
  padding: 12px 36px;
  border-radius: 16px;
}
