* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /*  font-size */
  --size-16: 1.6rem;
  --size-6: 0.6rem;
  --size-24: 2.4rem;
  --size-32: 3.2rem;
  --size-18: 1.8rem;
  --size-96: 9.6rem;
  --size-64: 6.4rem;
  --size-14: 1.4rem;
  --size-12: 1.2rem;
  --size-48: 4.8rem;
  --size-150: 15rem;
  --size-256: 25.6rem;
  --size-10: 10px;
  --size-128: 12.8rem;
  --size-175: 17.5rem;
  --size-500: 50rem;
  /*  color */
  --color-Cyan: hsl(171, 66%, 44%);
  --color-Light-Blue: hsl(233, 100%, 69%);
  --color-Cyan-light: hsl(171, 59%, 58%);
  --color-Light-Blue-light: hsl(233, 89%, 75%);
  --color-Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --color-Grayish-Blue: hsl(201, 11%, 66%);
  --color-cream: hsl(0, 0%, 96%);
  --color-Dark-Grayish-Blue: hsl(214, 13%, 24%);
}
html {
  font-size: var(--size-10);
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: var(--size-18);
  color: var(--color-Dark-Grayish-Blue);
}
header {
  width: 100%;
  height: var(--size-500);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/bg-header-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heading-primary {
  font-weight: 600;
}
.header-box {
  position: absolute;
  top: 20%;
}
.heading-sub {
  font-weight: 400;
  color: var(--color-Grayish-Blue);
  width: 75%;
  text-align: center;
}
.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-32);
}
.box-content img {
  width: var(--size-128);
}
.btn-box {
  margin-top: var(--size-32);
}
.btn-right:is(:link, :visited) {
  margin-right: var(--size-24);
  background-color: var(--color-Cyan);
  transition: all 0.3s ease-in-out;
}
.btn-left {
  transition: all 0.3s ease-in-out;
}
.btn-right:is(:hover, :active) {
  background-color: var(--color-Cyan-light);
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.3);
}
.btn-left:is(:link, :visited) {
  background-color: var(--color-Light-Blue);
}
.btn-left:is(:hover, :active) {
  background-color: var(--color-Light-Blue-light);
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.3);
}
.btn {
  text-decoration: none;
  color: #fff;
  padding: var(--size-16) var(--size-32);
  border-radius: var(--size-16);
}
/*   section-1 */
.section-con-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-24);
}
.section-1 {
  width: 100%;
}
.heading-sub-s1 {
  font-size: var(--size-16);
  font-weight: 400;
  color: var(--color-Grayish-Blue);
  width: 40%;
  text-align: center;
}
/* section-2 */
section {
  margin-top: var(--size-64);
}
.section-con-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-box-s2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: var(--size-32);
  margin-left: var(--size-128);
}
.box-s2 {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);
}
.head-text-s2 {
  font-weight: 600;
}
.dis-text-s2 {
  font-weight: 400;
  font-size: var(--size-14);
  color: var(--color-Grayish-Blue);
}
/*   section-3 */

.section-con-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-24);
}
.section-3 {
  width: 100%;
}
.heading-sub-s3 {
  font-size: var(--size-16);
  font-weight: 400;
  color: var(--color-Grayish-Blue);
  width: 40%;
  text-align: center;
}
/* section-4  */

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*   section-4 */
.fix {
  display: none;
}
.section-con-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-24);
}
.section-4 {
  width: 100%;
}
.heading-sub-s4 {
  font-size: var(--size-16);
  font-weight: 400;
  color: var(--color-Grayish-Blue);
  text-align: center;
}
/*  section-5 */
.box-s5 {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.icon-s5 {
  width: var(--size-48);
}
.boxs-s5 {
  display: flex;
  gap: var(--size-32);
  justify-content: center;
}
.dis-text-s5 {
  color: var(--color-Grayish-Blue);
  font-size: var(--size-12);
  width: 60%;
}
.logos {
  margin-top: var(--size-96);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  justify-content: center;
  align-items: center;
  margin-right: var(--size-96);
}
.logo:last-child {
  margin-right: 0;
}
.end-s5 {
  margin-top: var(--size-128);
}
.width-fix {
  width: 45%;
}
/* footer */
footer {
  height: var(--size-150);
  background-color: var(--color-cream);
  display: flex;
  margin-top: var(--size-96);
  align-items: center;
  justify-content: center;
}
.footer-logo {
  width: var(--size-64);
}
.footer-con {
  display: flex;
  gap: var(--size-64);
  margin-top: var(--size-24);
  margin-left: var(--size-150);
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: var(--size-12);
  margin-top: var(--size-6);
}
.icon-s {
  margin-top: var(--size-12);
  display: flex;
  gap: var(--size-16);
  margin-left: var(--size-256);
}
.f-l {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.f-l:is(:link, :visited) {
  color: var(--color-Grayish-Blue);
}
.f-l:is(:hover, :active) {
  color: var(--color-Cyan);
}
@media (max-width: 1150px) {
  .logos {
    margin-top: var(--size-96);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: var(--size-24);
  }
  footer {
    height: var(--size-150);
    background-color: var(--color-cream);
    display: flex;
    margin-top: var(--size-96);
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    width: var(--size-64);
  }
  .footer-con {
    display: flex;
    gap: var(--size-48);
    align-items: center;
    justify-content: center;
    margin-left: var(--size-12);
  }
  .icon-s {
    display: flex;
    gap: var(--size-12);
    margin-left: var(--size-10);
  }
  .device-img {
    width: 60%;
  }
  .computer-img {
    width: 80%;
  }
  /*  sec-2 */
  .section-con-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .computer-img-box {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .content-box-s2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
    margin-left: 0;
    margin-top: var(--size-32);
    text-align: center;
  }
  .heading-sub-s1 {
    width: 80%;
  }
  .box-s2 {
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
  }
  .head-text-s2 {
    font-weight: 600;
  }
  .dis-text-s2 {
    font-weight: 400;
    font-size: var(--size-14);
    color: var(--color-Grayish-Blue);
  }
}

@media (max-width: 700px) {
  .logos {
    margin-top: var(--size-96);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: var(--size-12);
  }
  .footer-logo {
    width: var(--size-48);
  }
  .footer-link {
    align-self: start;
  }
  .footer-con {
    display: flex;
    gap: var(--size-32);
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
  }
  .icon-s {
    display: flex;
    gap: var(--size-12);
    margin-left: var(--size-10);
  }
  .device-img {
    width: 60%;
  }
  .computer-img {
    width: 80%;
  }
  /*  sec-2 */
  .section-con-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .computer-img-box {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .content-box-s2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
    margin-left: 0;
    margin-top: var(--size-32);
    text-align: center;
  }
  .heading-sub-s1 {
    width: 80%;
  }
  .box-s2 {
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
  }
  .head-text-s2 {
    font-weight: 600;
  }
  .dis-text-s2 {
    font-weight: 400;
    font-size: var(--size-14);
    color: var(--color-Grayish-Blue);
  }
  .fix-m {
    margin-top: var(--size-25);
  }
}

@media (max-width: 600px) {
  .logos {
    margin-top: var(--size-96);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-link {
    text-align: center;
    margin-left: var(--size-24);
    width: 90%;
    gap: var(--size-48);
  }
  .logo {
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: var(--size-12);
  }
  .footer-logo {
    width: var(--size-48);
    margin-left: var(--size-32);
  }
  .footer-con {
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .icon-s {
    display: flex;
    gap: var(--size-12);
    margin-left: var(--size-10);
  }
  .device-img {
    width: 60%;
  }
  .computer-img {
    width: 80%;
  }
  /*  sec-2 */
  .section-con-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .computer-img-box {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .content-box-s2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
    margin-left: 0;
    margin-top: var(--size-32);
    text-align: center;
  }
  .heading-sub-s1 {
    width: 80%;
  }
  .box-s2 {
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
  }
  .head-text-s2 {
    font-weight: 600;
  }
  .dis-text-s2 {
    font-weight: 400;
    font-size: var(--size-14);
    color: var(--color-Grayish-Blue);
  }
  .icon-s {
    gap: var(--size-48);
    margin-bottom: var(--size-12);
  }
  .btn-box {
    display: flex;
    flex-direction: column;
    gap: var(--size-48);
  }
  .btn-right:link {
    margin-right: 0;
  }
  .btn {
    padding: var(--size-16) var(--size-96);
  }

  footer {
    height: var(--size-250);
    background-color: var(--color-cream);
    display: flex;
    margin-top: var(--size-96);
  }
  .section-con-1 {
    margin-top: var(--size-175);
  }
  .heading-sub {
    font-size: var(--size-18);
  }
  .heading-primary {
    font-size: var(--size-32);
  }
  .heading-sub-s3 {
    width: 60%;
  }
  .head-s5 {
    font-size: var(--size-16);
  }
  .fix-m {
    margin-top: var(--size-12);
  }
  .heading-primary {
    font-size: var(--size-24);
  }
  .section-1 {
    margin-top: var(--size-256);
  }
  .device-img {
    width: 80%;
  }
  .dis-text-s5 {
    width: 100%;
  }
}
